name: Build debian packages

on:
  release:
    types:
      - published

env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  debian-package-amd64:
    name: "${{ matrix.distro }} ${{ matrix.release }} ${{ matrix.arch }}"
    runs-on: ubuntu-latest
    environment:
      name: "release"
    strategy:
      matrix:
        include:
          - distro: "debian"
            release: "buster"
            arch: "amd64"
          - distro: "debian"
            release: "bullseye"
            arch: "amd64"
          - distro: "ubuntu"
            release: "bionic"
            arch: "amd64"
          - distro: "ubuntu"
            release: "focal"
            arch: "amd64"
          - distro: "ubuntu"
            release: "hirsute"
            arch: "amd64"
          - distro: "ubuntu"
            release: "impish"
            arch: "amd64"
    container:
      image: ${{ matrix.distro }}:${{ matrix.release }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          apt-get update
          apt-get -y upgrade
          apt-get -y install devscripts dpkg-dev debhelper equivs
      - name: Bump version
        run: |
          export DEBEMAIL='maintainers@faucet.nz'
          export DEBFULLNAME='Faucet Maintainers'
          debchange --newversion ${{ github.event.release.tag_name }} -b "New upstream release"
      - name: Build package
        run: |
          mk-build-deps -i -r -t 'apt-get -f -y --force-yes'
          dpkg-buildpackage -b -us -uc -rfakeroot
      - name: Store package
        run: |
          artifact_dir=${{ matrix.distro }}_${{ matrix.release }}
          mkdir -p packages/${artifact_dir}
          cp ../*.deb packages/${artifact_dir}
      - name: Publish package on packagecloud
        uses: faucetsdn/action-packagecloud-upload-debian-packages@v1
        with:
          path: packages/
          repo: faucetsdn/faucet-test
          token: ${{ secrets.PACKAGECLOUD_TOKEN }}

  debian-package-other:
    name: "${{ matrix.distro }} ${{ matrix.release }} ${{ matrix.arch }}"
    runs-on: ubuntu-latest
    environment:
      name: "release"
    strategy:
      matrix:
        distro: [raspbian]
        release: [buster, bullseye]
        arch: [armv7, aarch64]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - uses: uraimo/run-on-arch-action@v2.1.1
        name: Build artifact
        id: build
        with:
          arch: ${{ matrix.arch }}
          distro: ${{ matrix.release }}
          setup: |
            mkdir -p "${PWD}/packages"
          dockerRunArgs: |
            --volume "${PWD}/packages:/packages"
          env: |
            artifact_dir: ${{ matrix.distro }}_${{ matrix.release }}
          shell: /bin/bash
          install: |
            apt-get update
            apt-get -y upgrade
            apt-get -y install devscripts dpkg-dev debhelper equivs
          run: |
            export DEBEMAIL='maintainers@faucet.nz'
            export DEBFULLNAME='Faucet Maintainers'
            debchange --newversion ${{ github.event.release.tag_name }} -b "New upstream release"
            mk-build-deps -i -r -t 'apt-get -f -y --force-yes'
            dpkg-buildpackage -b -us -uc -rfakeroot
            mkdir -p /packages/${artifact_dir}
            cp ../*.deb /packages/${artifact_dir}
      - name: Publish package on packagecloud
        uses: faucetsdn/action-packagecloud-upload-debian-packages@v1
        with:
          path: packages/
          repo: faucetsdn/faucet-test
          token: ${{ secrets.PACKAGECLOUD_TOKEN }}
